body,span,h1,h2,h3,h4 {
    font-family: 'Kanit', sans-serif;
}

.text-logo {
  font-size: 85px;
  font-weight: 900;
  @media (max-width: 960px) {
    font-size: 35px;
  }
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  &.colum2 {
      -webkit-line-clamp: 2;
  }
  &.colum3 {
      -webkit-line-clamp: 3;
  }
  &.colum8 {
      -webkit-line-clamp: 8;
  }
}

.font {
  &-32 {
       font-size: 32px;
  }
  &-26 {
       font-size: 26px;
  }
  &-24 {
       font-size: 24px;
  }
  &-20 {
       font-size: 20px;
  }
  &-18 {
       font-size: 18px;
  }
  &-16 {
       font-size: 16px;
  }
  &-14 {
       font-size: 14px;
  }
  &-12 {
       font-size: 12px;
  }
  &-8 {
       font-size: 8px;
  }
}



